/*GRID*/
.grid{
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
  grid-template-rows: 550px 250px;
  grid-template-areas: "g2 g2 g1"
                       "g2 g2 g3";
}
.g1{
  grid-area: g1;
}
.g2{
  grid-area: g2;
  height: 2300px;
}
.g3{
  grid-area: g3;
}
/*BOTÕES MENU*/
.btn:hover{
  color: #dc3545;
  border: 1px white;
}
.a:hover{
  color: #dc3545;
  background-color: white;
}
.a{
  background-color: white; 
  border: none;
  width: 100%;
}
/*IMAGEM LIVRO*/
img{
  height: 50%;
  width: 50%;
}
/*FORMULARIO*/
.lineinput{
  display: grid;
  margin-bottom: 10px;
}
/*BOTÕES FORMULARIO*/
.button{
  color: black;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 2px;
}
.button:hover{
  border: 1px solid #dc3545;
}  

